@import 'tailwindcss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* .mainlayout{
  height:500px;
  background-color: blue;
} */



.navbar{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid white;
  
}

.hero{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
} 

.button{
  padding: 6px 12px;
  border-radius: 10px;
  outline: none;
  

} 





.light-nav{
  background-color:rgb(104, 236, 21);
  color: rgb(255, 255, 255);
  
}

.dark-nav{
  background-color: rgb(32, 33, 33);
  color: white;
}


.light-hero{
  background-color:rgb(105, 179, 208);
  color: rgb(185, 227, 18);
  
}

.dark-hero{
  background-color: rgb(64, 62, 62);
  color: white;
}